
* {
    font-family: Consolas, "Courier New", Courier, Monaco, "メイリオ", "游ゴシック", monospace;
}

body {
    width: 100%;
    height: 2rem;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame {
    display: block;
    color: white;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: white;
}